@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-cyan: #5fb4a2;
  --color-red: #f43030;
  --color-dark-blue: #203a4c;
  --color-grayish-dark-blue: #33323d;
  --color-very-light-gray: #fafafa;
  --color-light-gray: #eaeaeb;
  --color-white: #ffffff;
  --color-border-gray: #dcdcde;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-semiBold: 600;
  --weight-bold: 700;
  --font-family-sans: "Public Sans", sans-serif;
}
body {
  color: var(--color-grayish-dark-blue);
  background-color: var(--color-very-light-gray);
  font-family: var(--font-family-sans);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .container {
    padding: 0px 20px;
  }
}
@media (max-width: 1280px) {
  .container {
    padding: 0px 50px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0px 20px;
  }
}
@media (min-height: 1220px) {
  body {
    height: 100vh;
  }
}
@media (min-width: 1520px) {
  .container {
    max-width: 1480px;
    padding: 0px 20px;
  }
}
